html,body{
	margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
	background-image:url("background_Capstone.jpg");
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100% !important;
}
        .product_view .modal-dialog{max-width: 450px; width: 50%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}
#holder{
    min-height: 100%;
    position:relative;
}
#homepage{
	background-color:white;
	text-align:center;
	height: 73%;
}
#body{
    padding-bottom: 200px;    /* height of footer */
	margin-top:30px;
}
.container{
	margin-bottom:30px;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

#profile_pic{
	width:180px;
	margin:0;
	text-align:center;
}
#RentHeader{
	text-align:center;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #0000FF;
}

.active {
    background-color: #9F79EE;
}

#footer
{
	height: 200px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
	margin-top:30px;
  
}
footer .Sitemap{
	   list-style-type: none;
	   
}
footer .Sitemap li ul{
	   list-style-type: none;
	   margin-top:30px;
}
footer .Sitemap li{
		width: 146px;
		float: left;
		font-size: 15px;
		font-weight: bold;
		color:#b3c6ce;
		
}
footer .Sitemap li a:hover {
		color:white;
		
}

footer .Sitemap li ul li{
		float: none;
		font-size: 13px;
		font-weight: normal;
		line-height: 21px;
}

footer .Sitemap  ul a{
		text-decoration:none;
		float: none;
		font-size: 13px;
		font-weight: normal;
		line-height: 21px;
}
footer .Sitemap  ul a{
		text-decoration:none;
		float: none;
		font-size: 13px;
		font-weight: normal;
		line-height: 21px;
}

footer .Sitemap a{
		width: 146px;
		float: left;
		font-size: 15px;
		font-weight: bold;
		color:#b3c6ce;
}
footer .social {
	   list-style-type: none;
		margin: 0;
		left:20px;
		overflow: hidden;
		position:relative;
		height:80px;
		padding-top:15px;
		
		
}

footer .social li{
	
	margin-left: 10px;
    float: left;
	-webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(0eg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   
    width: 4em;
}
.social a {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
 
}
.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(0deg);
    -moz-transform: scale(1.3,1.3) rotate(0deg);
  -ms-transform: scale(1.3,1.3) rotate(0deg);
    -o-transform: scale(1.3,1.3) rotate(0deg);
  transform: scale(1.3,1.3) rotate(0deg);
}



/* Tables */

#nicetable table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 1024px; 
border-collapse: 
collapse; border-spacing: 0; 
}

#nicetable td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

#nicetable th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

#nicetable td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
#nicetable tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
#nicetable tr:nth-child(odd) td { background: #FEFEFE; }  

#nicetable tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */



.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

textarea {
   resize: none;
}

.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
}
.navbar {
    margin-bottom: 0 !important;
}
#search_bar_div{
	width:202px;
	left:512px;
	top:44px;
	position:absolute !important;
	background-color:white;
	display:none;
	z-index: 1;
}
#search_bar_ul li{
	list-style-type: none;
	text-align:left;
	height:30px;
	padding-left:18px;
	vertical-align: middle;
	padding-top:5px;
	padding-bottom:5px;
}
#search_bar_ul{
	border-bottom:1px solid black;
	border-radius: 5px;
	border-left:1px solid black;
	border-right:1px solid black;
	text-align:left;
	padding-left:  0 !important;
	margin-bottom: 0 !important;
	
	
	
}
#search_bar_ul li:hover {
    background-color:#e1eaf7;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  border-bottom-width: 0;
}


.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

#scrollpanel{
	height: 20% !important;	
}

#slideshow { 
    margin: 5px auto; 
    position: relative; 
    width: 630px; 
    height: 380px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
	vertical-align:bottom;
	border: 2px solid black;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
	
}
#slideshow img{
	max-width: 500px; 
    max-height: 300px; 
}

#products {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}
#products .wrap {
    max-width: 940px;
    margin: 0 auto ;
}


/*Menu !!!!*/
.menu {
    vertical-align: top;
    display: inline-block;
    margin: 10px ;
    
}
.menu-item {
    background-color: #FEFEFE;
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
}

.header-item {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3C3D41  ;
    font-size: 11px;
    padding: 15px 15px;
    border-bottom: 1.5px solid #EAEAEA;
}

.color-row1,  .color-row2  {
    margin: 15px;
    padding:0;
    max-width: 220px;
}

.color-circle {
    max-width: 220px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    
}

.size-circle {
    background-color: #EBEBEB;

}

.sizedouble {
 
   margin: 5px 5px;

}
.size {
     margin: 6px 8px;
}

/*ITEMS!!!*/
#products img {
    width: 100px; 
    height: 130px;
    margin-top: 10px;
    vertical-align: top;
    position: relative;
    left: 50px;
}

.items  {
    width: 650px;
    margin: 5px;
    display: inline-block;
}
 .item {
    vertical-align: top;
    width: 190px; 
    height: 270px; 
    margin: 8px;
    background:#FEFEFE; 
    display: inline-block;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
 }
 .bigitems  {
    width: 650px;
    margin: 5px;
    display: inline-block;
}
 .bigitem {
    vertical-align: top;
    width: 600px; 
    height: 600px; 
    margin: 8px;
    background:#FEFEFE; 
    display: inline-block;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
 }
 .bigitem img {
	width: 500px; 
    height: 400px;
    margin-top: 10px;
    vertical-align: top;
    position: relative;
    left: 50px;
}

#products h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

#products h5 {
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.descroption {
    margin: 0;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: grey;
    font-family: sans-serif;
}



.mini-menu{
    width: 200px;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #848C8F ;
    font-size: 11px;
    margin: 10px;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;	
    outline: 0;	
    padding: 1.2em 1em;	
    text-decoration: none;	
    color:#3C3D41;	
    font-weight: normal;
    letter-spacing: 2px;	
    background: #FEFEFE;
    border-bottom: 1.5px solid #EAEAEA;
   
}

.mini-menu .sub > ul {
    height: 0;
    overflow: hidden;
    background: #848C8F;
}
.mini-menu .sub > ul > li > a {
    font-family:  sans-serif;
    color:#FEFEFE;
    font-size: 12px;
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    text-transform: capitalize;
    font-style: normal; 
    letter-spacing: 1px;
}
/*.mini-menu .sub > ul > li > a:hover,*/
.mini-menu .sub > a.active,
 {
    padding-left: 1.3em;
    color: blue;
    content: "1";
    float: right;
    margin-right:6px;
    line-height: 12px;
}
.mini-menu .sub >  a:after{
    content: "»";
    float: right;
    margin-right:6px;
    line-height: 12px;
}

@media screen and (max-width: 940px) {
    .items {width: 420px;}
    .wrap {width: 700px;}
    .loadmore{width: 420px;}
   }
   @media screen and (max-width: 720px) {
    .items {width: 220px;}
    .wrap {width: 500px;}
    .loadmore{width: 220px;}
   }
   

   .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 1.6em;
    cursor: default;
    outline: none;
    border: 1px solid rgb(207, 207, 207);
    background: #090;
    border-image: initial;
}
.info{
	text-align:center;
}

.badge-notify{
   background:red !important;
   position:relative;
   top: -20px;
   left: -20px;
}
#shopping_cat_logo{
	margin-top:10px;
}

.icon-size{
 
font-size:1.5em;
 
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.rating-breakdown{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.reviews .glyphicon { margin-right:4px;}
.reviews .glyphicon {font-size: 15px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }


 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    font-size: 24px;
    color: #d17581;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  color:black;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


#admin_orders{ 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 1024px; 
border-collapse: 
collapse; border-spacing: 0; 
}

#admin_orders td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

#admin_orders th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

#admin_orders td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
#admin_orders tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
#admin_orders tr:nth-child(odd) td { background: #FEFEFE; }  

#admin_orders tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.modal, .modal2, .modal_success {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #e00025;
    color: white;
}
.modal-header-sucess {
    padding: 2px 16px;
    background-color: #c7ffba;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */


.modal-footer {
    padding: 2px 16px;
    background-color: #c2ffaf;
    color: white;
}

.modal-footer-check-in {
    padding: 2px 16px;
    background-color: #b0b1b2;
    color: white;
}

.modal-header_success{
	  padding: 2px 16px;
    background-color: #c7ffba;
    color: white;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#helmet_glyphicon{
	float:right;
}

#myList{
	list-style-type: none;
}
